<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #main {
            width: 1024px;
            height: 400px;
            float: left;
        }
    </style>
    <title>pm25數值查詢</title>
</head>

<body>
    <div id="container">
        <h1>Taiwan PM2.5</h1>
        <!-- 繪製區域 -->
        <div id="main">
        </div>
    </div>
    </div>
    <script src="static/index.js"></script>
</body>

</html>